@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --neon-text-color: rgb(255, 0, 0);
  --neon-border-color: #08f;
  overflow-x: hidden;
  --header1: calc(1rem + 1.25vw);
  --header2: calc(0.5rem + 1vw);
  --big-text: calc(0.5rem + 1vw);
  --normal-text: calc(0.25rem + 1vw);
  --mini-text: calc(0.25rem + 0.75vw);
  --neonText: calc(2rem + 5vw);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

span {
  border-bottom: 1px solid white;
}

.title {
  font-size: var(--header1);
  padding: 2em;
  text-align: center;
}

section {
  margin-left: 20vw;
}

aside {
  padding: 0 2vw;
  padding-top: 2vh;
  width: 20vw;
  position: fixed;
  z-index: 1;
}

aside #logo {
  font-family: "Abril Fatface", cursive;
  text-decoration: underline;
  font-size: var(--header1);
  font-weight: 400;
  min-height: 10vh;
  cursor: pointer;
}

aside nav {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside nav ul {
  list-style: none;
}

aside nav ul li {
  padding: 3em 0;
}

aside nav ul li a {
  font-size: var(--header2);
}

aside nav ul li a:hover {
  text-decoration: underline;
}

#slogan {
  min-height: 100vh;
  background-image: url(../images/background-wall.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Animate neon flicker */
}

#slogan .neon-text {
  position: relative;
  left: 20%;
  font-family: "Exo 2", sans-serif;
  font-size: var(--neonText);
  font-weight: 200;
  font-style: italic;
  padding: 2vw 6vw;
  border: 0.4rem solid white;
  border-radius: 2rem;
  -webkit-animation: flicker 1.5s infinite alternate;
          animation: flicker 1.5s infinite alternate;
}

@-webkit-keyframes flicker {
  0%,
  4%,
  6%,
  14%,
  16%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
    -webkit-box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
            box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }
  5%,
  15%,
  20%,
  24%,
  55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes flicker {
  0%,
  4%,
  6%,
  14%,
  16%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
    -webkit-box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
            box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }
  5%,
  15%,
  20%,
  24%,
  55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

#hakkımızda {
  min-height: 100vh;
  background-image: url(../images/background-coffee.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8vw;
}

#hakkımızda .info {
  font-size: var(--big-text);
  margin-bottom: 5vh;
}

#coffeeOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#coffeeOptions .allCoffees-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#coffeeOptions .allCoffees-flex .coffee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3vw;
  margin-bottom: 5vh;
}

#coffeeOptions .allCoffees-flex .coffee .coffee-img-container {
  width: 17vw;
  height: 22vh;
  min-width: 200px;
  margin-bottom: .5vh;
}

#coffeeOptions .allCoffees-flex .coffee .coffee-img-container .coffee-img-container img {
  -o-object-fit: contain;
     object-fit: contain;
}

#coffeeOptions .coffee-title {
  opacity: .5;
  font-size: var(--normal-text);
}

#coffeeOptions .coffee-description {
  font-size: var(--mini-text);
  width: 17vw;
  min-width: 200px;
}

#coffeeOptions .allCoffees-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-column-gap: 6vw;
  grid-row-gap: 2vw;
  padding: 0 3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#coffeeOptions .allCoffees-grid .coffee1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  width: 40vw;
  min-width: calc(400px + 6vw);
}

#coffeeOptions .allCoffees-grid .coffee2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  width: 17vw;
  min-width: 200px;
}

#coffeeOptions .allCoffees-grid .coffee3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 17vw;
  min-width: 200px;
}

#coffeeOptions .allCoffees-grid .coffee4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 17vw;
  min-width: 200px;
}

#coffeeOptions .allCoffees-grid .coffee-img-container img {
  height: 22vh;
  margin-bottom: .5vh;
}

#shops {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 4vw;
}

#shops .shop-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shops .shop-containers .shop-container {
  width: 35vw;
  min-width: 300px;
  padding: 0 2vw;
}

#shops .shop-containers .shop-container .shop-address {
  font-size: var(--normal-text);
  padding-top: .5em;
  padding-bottom: 2em;
}

#contact {
  position: relative;
  min-height: 100vh;
}

#contact label {
  color: white;
  font-size: var(--header2);
}

#contact input {
  padding: 2px;
}

#contact form {
  width: 85%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em 1.5em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#contact .txtb {
  border: 1px solid gray;
  margin: 5vh 0;
  padding: 1em 1.5em;
  border-radius: 8px;
}

#contact .txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: var(--normal-text);
}

#contact .txtb input,
#contact .txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: var(--normal-text);
  margin-top: 6px;
  color: white;
}

#contact button {
  border: none;
  display: inline-block;
  background: #9b59b6;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

@media screen and (max-width: 967px) {
  .coffee2 {
    display: none;
  }
  #coffeeOptions .allCoffees-grid {
    grid-column-gap: 0;
  }
  #coffeeOptions .coffee4 {
    margin-left: 6vw;
  }
}

@media screen and (max-width: 590px) {
  .navigation {
    display: none;
  }
  body section {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */