@charset "UTF-8";
/* Global Değişkenler */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --neon-text-color: rgb(255, 0, 0);
  --neon-border-color: #08f;
  overflow-x: hidden;
  --header1: calc(1rem + 1.25vw);
  --header2: calc(0.5rem + 1vw);
  --big-text: calc(0.5rem + 1vw);
  --normal-text: calc(0.25rem + 1vw);
  --mini-text: calc(0.25rem + 0.75vw);
  --neonText: calc(2rem + 5vw);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

span {
  border-bottom: 1px solid white;
}

section {
  min-height: 100vh;
  margin-left: 20vw;
}

.title {
  font-size: var(--header1);
  padding: 2em;
  text-align: center;
}

/* Navigation */
aside {
  padding: 0 2vw;
  padding-top: 2vh;
  width: 20vw;
  position: fixed;
}

aside #logo {
  font-family: "Abril Fatface", cursive;
  text-decoration: underline;
  font-size: var(--header1);
  font-weight: 400;
  min-height: 10vh;
  cursor: pointer;
}

aside nav {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside nav ul {
  list-style: none;
}

aside nav ul li {
  padding: 3em 0;
}

aside nav ul li a {
  font-size: var(--header2);
}

aside nav ul li a:hover {
  text-decoration: underline;
}

aside .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

aside .menu-wrapper .menu-item-bento {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  z-index: 1;
}

aside .box {
  width: 4px;
  height: 4px;
  background: #fff;
  margin: 3px 3px;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* Slogan Sayfası Birinci Sayfa */
#slogan {
  background-image: url(../images/background-wallM.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#slogan .neon-text {
  position: relative;
  left: 20%;
  font-family: "Exo 2", sans-serif;
  font-size: var(--neonText);
  font-weight: 200;
  font-style: italic;
  padding: 2vw 6vw;
  border: 0.4rem solid white;
  border-radius: 2rem;
  -webkit-animation: flicker 1.5s infinite alternate;
          animation: flicker 1.5s infinite alternate;
}

/* Hakkımızda Sayfası İkinci Sayfa */
#hakkımızda {
  background-image: url(../images/background-coffeeM.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8vw;
}

#hakkımızda .info {
  font-size: var(--big-text);
  margin-bottom: 5vh;
}

/* Kahve Seçeneklerinin Gösterildiği Sayfa - Üçüncü Sayfa */
#coffeeOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#coffeeOptions .allCoffees-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#coffeeOptions .allCoffees-flex .coffee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3vw;
  margin-bottom: 5vh;
}

#coffeeOptions .coffee-title {
  opacity: .5;
  font-size: var(--normal-text);
}

#coffeeOptions .coffee-description {
  font-size: var(--mini-text);
  width: 17vw;
  min-width: 200px;
}

#coffeeOptions .coffee-img-container {
  width: 17vw;
  min-width: 200px;
  margin-bottom: .5vh;
}

#coffeeOptions .allCoffees-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-column-gap: 6vw;
  grid-row-gap: 2vw;
  padding: 0 3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#coffeeOptions .allCoffees-grid .coffee1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  width: 40vw;
  min-width: calc(400px + 6vw);
}

#coffeeOptions .allCoffees-grid .coffee2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  width: 17vw;
  min-width: 200px;
}

#coffeeOptions .allCoffees-grid .coffee3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 17vw;
  min-width: 200px;
}

#coffeeOptions .allCoffees-grid .coffee4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 17vw;
  min-width: 200px;
}

/* Mağazaların Gösterildiği Sayfa - Dördüncü Sayfa */
#shops {
  min-height: auto;
}

#shops .shop-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shops .shop-containers .shop-container {
  width: 33.5vw;
  min-width: 275px;
  padding: 0 2vw;
}

#shops .shop-containers .shop-container .shop-address {
  font-size: var(--normal-text);
  padding-top: .5em;
  padding-bottom: 2em;
}

/* İletişim Sayfası - Beşinci Sayfa */
#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact form {
  width: 85%;
  max-width: 800px;
  padding: 1em 1.5em;
}

#contact .row {
  border: 1px solid gray;
  margin: 5vh 0;
  padding: 1em 1.5em;
  border-radius: 8px;
}

#contact .row label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: var(--normal-text);
}

#contact .row input,
#contact .row textarea {
  padding: 2px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: var(--normal-text);
  margin-top: 6px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#contact button {
  border: none;
  display: inline-block;
  background: #9b59b6;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

/* Footer Kısmı - Sayfanın En Altı */
footer {
  min-height: 8vh;
  margin-left: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 3em;
  border-top: 1px solid white;
  margin-top: 5vh;
}

footer .name {
  font-size: var(--normal-text);
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  font-weight: 400;
}

footer .social-icons {
  font-size: var(--header2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .social-icons img {
  cursor: pointer;
  width: calc(2rem + 1vw);
  height: calc(2rem + 1vw);
}

footer .social-icons img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* Kullanılan Keyframeler */
@-webkit-keyframes flicker {
  0%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
    -webkit-box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
            box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }
  24%,
  55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@keyframes flicker {
  0%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
    -webkit-box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
            box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }
  24%,
  55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* Responsive Tasarım Öğeleri */
@media screen and (max-width: 967px) {
  /* İlk ve İkinci Sayfa Yükseklik Düzenleme */
  #slogan,
  #hakkımızda {
    min-height: 70vh;
  }
  /* Flicker Düzenleme */
  #slogan .neon-text {
    -webkit-animation: none;
            animation: none;
    text-shadow: -0.2rem -0.2rem 1rem #ff0303, 0.2rem 0.2rem 1rem #fff, 0 0 1rem red, 0 0 2rem red;
    -webkit-box-shadow: 0 0 2rem #08f, inset 0 0 2rem #08f, 0 0 4rem #08f;
            box-shadow: 0 0 2rem #08f, inset 0 0 2rem #08f, 0 0 4rem #08f;
  }
  /* Kahve Seçenekleri Sayfası Düzenleme */
  .coffee2 {
    display: none;
  }
  #coffeeOptions .allCoffees-grid {
    grid-column-gap: 0;
  }
  #coffeeOptions .coffee-description {
    font-size: var(--normal-text);
  }
  #coffeeOptions .coffee4 {
    margin-left: 6vw;
  }
}

@media screen and (max-width: 590px) {
  /* Genel Düzenleme */
  body section {
    margin-left: 0;
  }
  .body-fixed {
    overflow: hidden;
  }
  /*Navbar Düzenleme */
  aside {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2vh 4vw;
  }
  aside #logo {
    min-height: auto;
    font-size: calc(var(--header1) + .25rem);
  }
  aside .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-links {
    min-height: auto;
    z-index: 1;
    background: black;
    width: 100vw;
    height: 95vh;
    position: fixed;
    top: 0;
    left: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }
  nav a {
    font-size: calc(var(--header1) + .25rem) !important;
  }
  /* İlk ve İkinci Sayfa Düzenlemeleri */
  #slogan,
  #hakkımızda {
    min-height: 55vh;
  }
  #slogan .neon-text {
    left: 0;
  }
  /* Kahve Seçenekleri Sayfası Düzenleme */
  #coffeeOptions .coffee-description,
  #coffeeOptions .coffee-title {
    font-size: var(--big-text);
  }
  /* Mağazalarımız Sayfası Düzenleme */
  #shops .shop-address {
    font-size: var(--big-text) !important;
  }
  /* İletişim Sayfası Düzenleme */
  #contact {
    min-height: auto;
  }
  #contact label,
  #contact input,
  #contact textarea {
    font-size: var(--big-text) !important;
  }
  #contact label {
    color: #7a7a7a !important;
  }
  /* Footer Sayfası Düzenleme */
  footer {
    margin-left: 0;
  }
  footer .name {
    font-size: calc(var(--big-text) + .5rem);
  }
  footer .social-icons img {
    width: calc(2.5rem + 1vw);
  }
}

@media screen and (max-width: 480px) {
  /* Kahve Seçenekleri Düzenleme */
  #coffeeOptions .coffee2,
  #coffeeOptions .coffee3,
  #coffeeOptions .coffee4,
  #coffeeOptions .coffee-description,
  #coffeeOptions .coffee-img-container {
    min-width: 150px !important;
  }
  #coffeeOptions .coffee1 {
    min-width: calc(300px + 6vw) !important;
  }
  #coffeeOptions .coffee1 .coffee-description {
    min-width: calc(300px + 6vw) !important;
  }
}
/*# sourceMappingURL=style.css.map */